@inherits LayoutComponentBase
@using CVDentalSteticSystem.Pages
@using Blazored.Toast.Configuration



<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginControl />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
