
@inject AuthenticationStateProvider authenticationStateProvider
@inject IModalService Modal
@inject IToastService toast
@using CVDentalSteticSystem.BLL
@using CVDentalSteticSystem.Pages.ReportesComponents


<div class="top-row pl-4 navbar navbar-dark sidebar-custom">
    <a class="profile" href="#">
        <img id="im" src="/img/CVdental.png" width="190" height="150" alt="">
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>



<div class="@NavMenuCssClass " @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </li>

        <li class="nav nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="expanR">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Registros
            </NavLink>

            @if (expanSubMenuR)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="pacientes">
                            <span class="oi oi-person" aria-hidden="true"></span> Pacientes
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="tiposprocedimientos">
                            <span class="oi oi-puzzle-piece" aria-hidden="true"></span> TiposProcedimientos
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="TiposCitas">
                            <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Tipo de Citas
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Citas">
                            <span class="oi oi-person" aria-hidden="true"></span> Citas
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Seguros">
                            <span class="oi oi-credit-card" aria-hidden="true"></span> Seguros
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="procedimientos">
                            <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Procedimientos
                        </NavLink>
                    </li>


                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Cobros">
                            <span class="oi oi-dollar" aria-hidden="true"></span> Cobros
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="usuarios">
                            <span class="oi oi-person" aria-hidden="true"></span> Usuarios
                        </NavLink>
                    </li>

                </ul>
            }
        </li>
        <li class="nav nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="expanC">
                <span class="oi oi-zoom-in" aria-hidden="true"></span> Consultas
            </NavLink>

            @if (expanSubMenuC)
            {
                <ul class="nav ">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="consultapacientes">
                            <span class="oi oi-person" aria-hidden="true"></span> Pacientes
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="consultatiposprocedimientos">
                            <span class="oi oi-puzzle-piece" aria-hidden="true"></span> TiposProcedimientos
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ConsultaTipoCitas">
                            <span class="oi oi-puzzle-piece" aria-hidden="true"></span> TipoCitas
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ConsultaCitas">
                            <span class="oi oi-person" aria-hidden="true"></span> Citas
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ConsultaSeguros">
                            <span class="oi oi-credit-card" aria-hidden="true"></span> Seguros
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="consultaprocedimientos">
                            <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Procedimientos
                        </NavLink>
                    </li>


                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ConsultaCobros">
                            <span class="oi oi-dollar" aria-hidden="true"></span> Cobros
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="consultausuarios">
                            <span class="oi oi-person" aria-hidden="true"></span> Usuarios
                        </NavLink>
                    </li>
                </ul>
            }

        </li>
        <li class="nav nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="expanRpt">
                <span class="oi oi-zoom-in" aria-hidden="true"></span> Reportes
            </NavLink>

            @if (expanSubMenuRpt)
            {
                <ul class="nav ">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" @onclick="ReportePacientes">
                            <span class="oi oi-print" aria-hidden="true"></span> Pacientes
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" @onclick="ReporteTiposProcedimientos">
                            <span class="oi oi-print" aria-hidden="true"></span> Tipos Procedimientos
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" @onclick="ReporteProcedimientos">
                            <span class="oi oi-print" aria-hidden="true"></span> Procedimientos
                        </NavLink>
                    </li>


                    <li class="nav-item px-3">
                        <NavLink class="nav-link" @onclick="ReporteCitas">
                            <span class="oi oi-print" aria-hidden="true"></span> Citas
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" @onclick="ReporteSeguros">
                            <span class="oi oi-print" aria-hidden="true"></span> Seguros
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" @onclick="ReporteTipoCitas">
                            <span class="oi oi-print" aria-hidden="true"></span> TipoCitaS
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" @onclick="ReporteCobros">
                            <span class="oi oi-print" aria-hidden="true"></span> Cobros
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" @onclick="ReporteUsuarios">
                            <span class="oi oi-print" aria-hidden="true"></span> Usuarios
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <div class="align-bottom ">
            <li class="nav-item px-3">
                @if (authenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
                {
                    <NavLink class="nav-link" href="/logout?returnUrl=/" target="_top">
                        <span class="oi oi-person" aria-hidden="true"></span> Cerrar Sesión
                    </NavLink> }
                else
                {
                    <NavLink class="nav-link" href="/LogInPage">
                        <span class="oi oi-person" aria-hidden="true"></span> Login
                    </NavLink>
                }

            </li>
        </div>

    </ul>
</div>


@code {
    private bool collapseNavMenu = true;
    private bool expanSubMenuR;
    private bool expanSubMenuC;
    private bool expanSubMenuRpt;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;



    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;


        if (expanSubMenuC == true)
        {
            expanSubMenuR = false;
            expanSubMenuRpt = false;
        }

        if (expanSubMenuRpt == true)
        {
            expanSubMenuR = false;
            expanSubMenuC = false;
        }

    }

    private void expanR()
    {
        expanSubMenuR = !expanSubMenuR;

        expanSubMenuC = false;
        expanSubMenuRpt = false;
    }

    private void expanC()
    {
        expanSubMenuC = !expanSubMenuC;

        expanSubMenuR = false;
        expanSubMenuRpt = false;
    }

    private void expanRpt()
    {
        expanSubMenuRpt = !expanSubMenuRpt;

        expanSubMenuC = false;
        expanSubMenuR = false;
    }

    public void ReportePacientes()
    {
        List<Pacientes> lista = PacientesBLL.GetPacientes();
        if (lista.Count > 0)
        {
            var parameters = new ModalParameters();
            parameters.Add("Lista", lista);

            Modal.Show<VerPacientesReport>("Reporte de pacientes", parameters);
        }
        else
        {
            toast.ShowWarning("No hay datos para imprimir");
        }
    }

    public void ReporteUsuarios()
    {
        List<Usuarios> lista = UsuariosBLL.GetUsuarios();
        if (lista.Count > 0)
        {
            var parameters = new ModalParameters();
            parameters.Add("Lista", lista);

            Modal.Show<VerUsuariosReport>("Reporte de usuarios", parameters);
        }
        else
        {
            toast.ShowWarning("No hay datos para imprimir");
        }
    }

    public void ReporteTiposProcedimientos()
    {
        List<TiposProcedimientos> lista = TiposProcedimientosBLL.GetTiposProcedimientos();
        if (lista.Count > 0)
        {
            var parameters = new ModalParameters();
            parameters.Add("Lista", lista);

            Modal.Show<VerTiposProcedimientosReport>("Reporte de Tipo de Procedimientos", parameters);
        }
        else
        {
            toast.ShowWarning("No hay datos para imprimir");
        }
    }

    public void ReporteProcedimientos()
    {
        List<Procedimientos> lista = ProcedimientosBLL.GetProcedimientos();
        if (lista.Count > 0)
        {
            var parameters = new ModalParameters();
            parameters.Add("Lista", lista);

            Modal.Show<VerProcedimientosReport>("Reporte de Procedimientos", parameters);
        }
        else
        {
            toast.ShowWarning("No hay datos para imprimir");
        }
    }

    public void ReporteCobros()
    {
        List<Cobros> lista = CobrosBLL.GetCobros();
        if (lista.Count > 0)
        {
            var parameters = new ModalParameters();
            parameters.Add("Lista", lista);

            Modal.Show<VerCobrosReport>("Reporte de Cobros", parameters);
        }
        else
        {
            toast.ShowWarning("No hay datos para imprimir");
        }
    }

    public void ReporteSeguros()
    {
        List<Seguros> lista = SegurosBLL.GetSeguros();
        if (lista.Count > 0)
        {
            var parameters = new ModalParameters();
            parameters.Add("Lista", lista);

            Modal.Show<VerSegurosReport>("Reporte de seguros", parameters);
        }
        else
        {
            toast.ShowWarning("No hay datos para imprimir");
        }
    }

    public void ReporteTipoCitas()
    {
        List<TipoCitas> lista = TipoCitasBLL.GetTipoCitas();
        if (lista.Count > 0)
        {
            var parameters = new ModalParameters();
            parameters.Add("Lista", lista);

            Modal.Show<VerTipoCitasReport>("Reporte de Tipos de Citas", parameters);
        }
        else
        {
            toast.ShowWarning("No hay datos para imprimir");
        }
    }

    public void ReporteCitas()
    {
        List<Citas> lista = CitasBLL.GetCitas();
        if (lista.Count > 0)
        {
            var parameters = new ModalParameters();
            parameters.Add("Lista", lista);

            Modal.Show<VerCitasReport>("Reporte de Citas", parameters);
        }
        else
        {
            toast.ShowWarning("No hay datos para imprimir");
        }
    }
}
