
@inject AuthenticationStateProvider authenticationStateProvider
@inject IModalService Modal
    

<div class="top-row pl-4 navbar navbar-dark sidebar-custom">
     <a class="profile" href="#">
        <img id="im" src="/img/CVdental.png" width="190" height="150"  alt="">
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>



<div class="@NavMenuCssClass " @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </li>

        <li class="nav nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="expanR">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Registros
            </NavLink>

            @if (expanSubMenuR)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="pacientes">
                            <span class="oi oi-person" aria-hidden="true"></span> Pacientes
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="tiposprocedimientos">
                            <span class="oi oi-puzzle-piece" aria-hidden="true"></span> TiposProcedimientos
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="TiposCitas">
                            <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Tipo de Citas
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Citas">
                            <span class="oi oi-person" aria-hidden="true"></span> Citas
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Seguros">
                            <span class="oi oi-credit-card" aria-hidden="true"></span> Seguros
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="procedimientos">
                            <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Procedimientos
                        </NavLink>
                    </li>

                    
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Cobros">
                            <span class="oi oi-dollar" aria-hidden="true"></span> Cobros
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="usuarios">
                            <span class="oi oi-person" aria-hidden="true"></span> Usuarios
                        </NavLink>
                    </li>

                </ul>
            }
        </li>
        <li class="nav nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="expanC">
                <span class="oi oi-zoom-in" aria-hidden="true"></span> Consultas
            </NavLink>

            @if (expanSubMenuC)
            {
                <ul class="nav ">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="consultapacientes">
                            <span class="oi oi-person" aria-hidden="true"></span> Pacientes
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="consultatiposprocedimientos">
                            <span class="oi oi-puzzle-piece" aria-hidden="true"></span> TiposProcedimientos
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ConsultaTipoCitas">
                            <span class="oi oi-puzzle-piece" aria-hidden="true"></span> TipoCitas
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ConsultaCitas">
                            <span class="oi oi-person" aria-hidden="true"></span> Citas
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ConsultaSeguros">
                            <span class="oi oi-credit-card" aria-hidden="true"></span> Seguros
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="consultaprocedimientos">
                            <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Procedimientos
                        </NavLink>
                    </li>

                    
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ConsultaCobros">
                            <span class="oi oi-dollar" aria-hidden="true"></span> Cobros
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="consultausuarios">
                            <span class="oi oi-person" aria-hidden="true"></span> Usuarios
                        </NavLink>
                    </li>
                </ul>
            }

        </li>
        <li class="nav nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="expanRpt">
                <span class="oi oi-zoom-in" aria-hidden="true"></span> Reportes
            </NavLink>

            @if (expanSubMenuRpt)
            {
                <ul class="nav ">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ReportePacientes">
                            <span class="oi oi-print" aria-hidden="true"></span> Pacientes
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ReporteTiposProcedimientos">
                            <span class="oi oi-print" aria-hidden="true"></span> Tipos Procedimientos
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ReporteProcedimientos">
                            <span class="oi oi-print" aria-hidden="true"></span> Procedimientos
                        </NavLink>
                    </li>

                     <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ReporteUsuarios">
                            <span class="oi oi-print" aria-hidden="true"></span> Usuarios
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ReporteCitas">
                            <span class="oi oi-print" aria-hidden="true"></span> Usuarios
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ReporteSeguros">
                            <span class="oi oi-print" aria-hidden="true"></span> Usuarios
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ReporteTipoCitas">
                            <span class="oi oi-print" aria-hidden="true"></span> Usuarios
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ReporteCobros">
                            <span class="oi oi-print" aria-hidden="true"></span> Usuarios
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <div class="align-bottom ">
            <li class="nav-item px-3">
                @if (authenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
                {
                    <NavLink class="nav-link" href="/logout?returnUrl=/" target="_top">
                        <span class="oi oi-person" aria-hidden="true"></span> Cerrar Sesión
                    </NavLink> }
                else
                {
                    <NavLink class="nav-link" href="/LogInPage">
                        <span class="oi oi-person" aria-hidden="true"></span> Login
                    </NavLink>
                }

            </li>
        </div>

    </ul>
</div>


@code {
    private bool collapseNavMenu = true;
    private bool expanSubMenuR;
    private bool expanSubMenuC;
    private bool expanSubMenuRpt;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;



    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;


        if (expanSubMenuC == true)
        {
            expanSubMenuR = false;
            expanSubMenuRpt = false;
        }

        if (expanSubMenuRpt == true)
        {
            expanSubMenuR = false;
            expanSubMenuC = false;
        }

    }

    private void expanR()
    {
        expanSubMenuR = !expanSubMenuR;

        expanSubMenuC = false;
        expanSubMenuRpt = false;
    }

    private void expanC()
    {
        expanSubMenuC = !expanSubMenuC;

        expanSubMenuR = false;
        expanSubMenuRpt = false;
    }

    private void expanRpt()
    {
        expanSubMenuRpt = !expanSubMenuRpt;

        expanSubMenuC = false;
        expanSubMenuR = false;
    }

}
