@inject AuthenticationStateProvider authenticationStateProvider


<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CVDentalSteticSystem</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </li>
        <li class="nav nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Registros
            </NavLink>
        </li>

        @if (expandSubNav)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="pacientes">
                    <span class="oi oi-person" aria-hidden="true"></span> Pacientes
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="tiposprocedimientos">
                    <span class="oi oi-puzzle-piece" aria-hidden="true"></span> TiposProcedimientos
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="procedimientos">
                    <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Procedimientos
                </NavLink>
            </li>


            <li class="nav-item px-3">
                <NavLink class="nav-link" href="usuarios">
                    <span class="oi oi-person" aria-hidden="true"></span> Usuarios
                </NavLink>
            </li>
        }

        <li class="nav-item px-3">
            @if (authenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
            {
                <NavLink class="nav-link" href="/logout?returnUrl=/" target="_top">

                </NavLink> }
            else
            {
                <NavLink class="nav-link" href="/LogInPage">
                    <span class="oi oi-person" aria-hidden="true"></span> Login
                </NavLink>
            }

        </li>



    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool expandSubNav;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
